# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos sensíveis
.env
prisma/.env

# Dependências
node_modules

# Builds
dist
dist-ssr

# Arquivos locais do editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache do sistema operacional
Thumbs.db
.DS_Store

# Logs do Prisma
prisma/dev.db-journal